/* In navigation section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.content{
  /* max-width: 1250px; */
  margin: auto;
  padding: 0 30px;
  min-width: 200px;
 
}


.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  transition: all 0.3s ease;
  /* background-color: #1b1b1b; */
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  width: 20%;
  border: 2px solid rgb(118, 124, 124);
  border-radius: 10px;
  padding: 0px 10px;
}
.navbar .menu-list{
  display: inline-flex;
  
}
.menu-list li{
    display: flex;
  list-style: none;
  justify-content: right;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid rgb(118, 124, 124);
  border-radius: 10px;
  padding: 0px 10px;
}
.menu-list li a:hover{
  color: black;
}

/* In home section */
#home{
    /* height: 650px; */
    position: relative;
}
#home::before{
    content: "";
    position: absolute;
    background-image: url('/background\(1\).jpg');
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .7;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.box{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    font-family: 'Cherry Swash', cursive;
}


/* for left box */
.left_box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    margin: 70px;
    padding: 30px;
    /* border: 2px solid red; */
    width: 70%;
    height: 300px;   
}
.left_box h1{
    font-size: 30px;
    margin-bottom: 15px;
    text-decoration: underline;
    margin-top: 125px;

}
.left_box p{
    font-size: 20px;
    padding: 20px;
}


/* for right box */
.right_box{
    margin: 30px;
    padding: 30px;
    width: 30%;
    /* border: 2px solid blue; */
}
.right_box img{
    height: 450px;
}
.right_box img:hover{
    margin-top: -5px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* for home section button */
.button_second button{
    height: 30px;
    width: 145px;
    background: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 17px;
    margin: 10px;
    font-family: 'Cherry Swash', cursive;
}
.button_second button a{
    color: black;
    text-decoration: none;
}

.button_second button:hover{
    background-color: aqua;
    color: rgb(2, 2, 2);
    text-decoration: underline;
    cursor: pointer;
    transform: translateY(-5px);
    opacity: 1;
}


/* in popularity section */
#popularity{
    margin-top: -45px;
    position: relative;
}
#popularity::before{
    content: "";
    position: absolute;
    background: url('/background\(2\).jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .9;
}
.heading{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    text-decoration: underline;
    color: white;
}
#popularity .box2{
    display: flex;
    text-align: center;
    font-family: 'Cherry Swash', cursive;
    color: white;
}
.smallbox1{
    border: 2px solid blue;
    margin: 5px;
    border-radius: 20px;
}

.smallbox1:hover{
    
    transform: translateY(-10px);
    opacity: 1;
    transition-duration: .8s;
}
.smallbox1 img {
    width: 247px;
    height: 160px;
}
.smallbox1 h2{
    background-color: aqua;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}
.smallbox1 p{
    font-size: 18px;
    margin: 20px;
    text-align: left;
}
.smallbox1 button{
    padding: 5px;
    background: none;
    font-size: 18px;
    font-family: 'Cherry Swash', cursive;
    margin: 10px;
    color: white;
    border-radius: 10px;
}
.smallbox1 button a{
    text-decoration: none;
    color: white;
}
.smallbox1 button:hover{
    background-color: rgb(129, 134, 134);
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

#About{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
#About::before{
    content: "";
    position: absolute;
    background-image: url('/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}
#About .heading{
    padding-top: 20px;
}
.heading{
    color: rgb(34, 18, 18);
}
.About_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 295px));
    align-items: center;
    text-align: center;
    justify-content: center;

}

.About_small_box{
    padding: 2px;
    height: 355px;
    width: 300px;
    margin-top: 20px;
}
.About_small_box h1{
    margin-top: -10px;
    padding-bottom: 5px;
    text-decoration: underline;
}
.About_small_box img{
    width: 170px;
    height: 105px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
#About_box{
    margin: 10px;
    display: flex;
    border: 2px solid #020202;
    border-radius: 10px;
    background:none;
}
#About_box:hover{
    transform: translateY(-5px);
    z-index: 1;
    transition-duration: .5s;
}
.About_but {
    margin-top: 20px;
    height: 26px;
    width: 85px;
    font-size: 15px;
    background: none;
    border-radius: 7px;
    border: 1px solid aqua;
}
.About_but a{
    text-decoration: none;
    color: black;
}

.About_but a:hover {
    border-radius: 7px;
    /* background-color: black; */
    color: rgb(63, 16, 117);
    cursor: pointer;
    text-decoration: underline;
    transform: translateY(-3px);
    z-index: 1;
}
.About_small_box p{
    font-size: 15px;
}


/* In form section */
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#form::before{
    content: "";
    position: absolute;
    background-image: url(/pexels-simon-migaj-747964.jpg);
    height: 100%;
    width: 100%;
    opacity: .8;
    z-index: -1;
    background-size: cover;
}
.forms input, .forms textarea{
    display: flex;
    width: 100%;
    height: 25px;
    font-size: 17px;
    background: none;
    border-radius: 10px;
    padding: 3px 10px;
    border: 2px solid aqua;
}
.forms textarea{
    height: 210px;
}
.forms label{
    font-size: 18px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 18px;
}
footer a{
    color: white;
    text-decoration: none;

}
footer a:hover{
    color: aqua;
    text-decoration: underline;

}
@media only screen and (max-width:1128px){
    
    .search{
        display: none;
    }
    .nav_bar{
        width: 100%;
    }
    .left_box{
        margin: 70px 0px;
        padding: 10px 5px;
    }
    .left_box p {
        font-size: 18px;
        padding: 10px;
    }
    #popularity .box2{
        flex-wrap: wrap;
    }
    .smallbox1 h2{
        margin: 13px 25%;
    }
}
@media only screen and (max-width:1000px){
    .navbar .menu-list{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        /* margin: auto; */
    }
    .menu-list li a{
        justify-content: center;
    }
    .navbar .logo a{
        display: none;
        /* width: 0%; */
    }
    .box{
        flex-wrap: wrap;
    }
    .left_box p{
        padding: 0px;
    }
    .smallbox1 h2{
        margin: 13px 25%;
    }
}

@media only screen and (max-width:604px){
    .menu-list li a {
        /* padding: -1px 10px; */
        margin-left:4px;
        font-size: 14px;
        border: none;

    }

    .left_box h1 {
        font-size: 20px;
    }
    .left_box p {
        font-size: 12px;
    }
    .button_second button {
        height: 21px;
        width: 98px;
        background: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 11px;
        margin: 10px;
        font-family: 'Cherry Swash', cursive;
    }
    .right_box img {
        height: 279px;
    }
    .right_box {
        margin:6px ;
        padding: 38px ;
        /* position: absolute; */
        width: 70%;
    }
    
    .left_box {
        margin: 41px 0px;
    }
    .heading {
        text-align: center;
        font-size: 20px;
        margin-bottom: 11px;
        text-decoration: underline;
        color: white;
    }
    .smallbox1 h2 {
        font-size: 14px;
        background-color: aqua;
        color: black;
        border: 2px solid black;
        border-radius: 20px;
        margin: 13px 20%;
    }
    .smallbox1 p {
        font-size: 12px;
        margin: 13px;
        text-align: left;
    }
    .smallbox1 button {
        padding: 3px;
        background: none;
        font-size: 13px;
        font-family: 'Cherry Swash', cursive;
        margin: 3px;
        color: white;
        border-radius: 10px;
    }
    .About_small_box h1{
        font-size: 15px;
    }
    .About_small_box p {
        font-size: 12px;
    }
    .forms label {
        font-size: 14px;
    }
    footer{

        font-size: 12px;
    }
    .About_but{
        font-size: 12px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width:395px){

    .menu-list li a {
        margin-left: 0px;
        font-size: 12px;
        border: none;
    }
    .left_box h1 {
        font-size: 17px;
    }
    .left_box {
        margin: 30px 0px;
    }
    .left_box p {
        font-size: 10px;
    }
    .button_second button {
        height: 17px;
        width: 80px;
        background: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 9px;
        margin: 5px;
        font-family: 'Cherry Swash', cursive;
    }
    .left_box {
        margin: 70px 0px;
        padding: 5px 0px;
    }
    .menu-list li a {
        font-weight: 300;
    }
    .left_box {
        margin: 30px 0px;
        padding: 5px 0px;
    }
    .menu-list li a{
        padding: 0px 6px;
    }
}